.firstpage {
    display: flex;
    height: 500;
    width: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.main-title{
    margin:40px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }
  
  .msg{
    width:95vw;
    font-size: large;
    font-weight: bold;
  }
  .log{
    text-align: left;
    font-size: medium;
    font-weight: lighter;
  }